/*
	****************** Base Settings ******************
*/

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font);
  -webkit-font-smoothing: antialiased !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
  &:active,
  &:hover {
    outline: none;
  }
}

input, button, textarea {
  -webkit-appearance: none;
}

h1, h2, p {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}