.full {
  width: 100%;
  display: block;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*='col-'] {
    display: block;
  }
  @media (min-width: $tablet) {
    .col-t-12 {
      width: 100%;
    }
    .col-t-11 {
      width: 100% / 12 * 11;
    }
    .col-t-10 {
      width: 100% / 12 * 10;
    }
    .col-t-9 {
      width: 100% / 12 * 9;
    }
    .col-t-8 {
      width: 100% / 12 * 8;
    }
    .col-t-7 {
      width: 100% / 12 * 7;
    }
    .col-t-6 {
      width: 100% / 12 * 6;
    }
    .col-t-5 {
      width: 100% / 12 * 5;
    }
    .col-t-4 {
      width: 100% / 12 * 4;
    }
    .col-t-3 {
      width: 100% / 12 * 3;
    }
    .col-t-2 {
      width: 100% / 12 * 2;
    }
    .col-t-1 {
      width: 100% / 12;
    }
  }
  @media (min-width: $desktop) {
    .col-12 {
      width: 100%;
    }
    .col-11 {
      width: 100% / 12 * 11;
    }

    .col-10 {
      width: 100% / 12 * 10;
    }

    .col-9 {
      width: 100% / 12 * 9;
    }

    .col-8 {
      width: 100% / 12 * 8;
    }

    .col-7 {
      width: 100% / 12 * 7;
    }

    .col-6 {
      width: 100% / 12 * 6;
    }

    .col-5 {
      width: 100% / 12 * 5;
    }

    .col-4 {
      width: 100% / 12 * 4;
    }

    .col-3 {
      width: 100% / 12 * 3;
    }

    .col-2 {
      width: 100% / 12 * 2;
    }

    .col-1 {
      width: 100% / 12;
    }
  }
}