h1 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  @media all and(min-width: $tablet) {
    font-size: 30px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-family: var(--base-font);
  font-size: 15px;
}