$desktop-hd: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 540px;

$gutter: 20px;
$vgutter: 50px;

:root {
  --white: #ffffff;
  --warm-grey: #8e8e8e;
  --gunmetal: #555d60;
  --bluish-grey: #789199;

  --base-font: Lato, Helvetica, Arial, sans-serif;
}