@import "variables.scss";
@import "base-settings.scss";
@import "typography.scss";
@import "grid.scss";

//.container {
//  width: 320px;
//}

/***********************  Header  ***********************/

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  z-index: 5;
}
.navigation-main {
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 60px;
  width: 100%;
  height: 100%;
  border-top: 1px var(--white) solid;
  z-index: 2;
  transition: .5s ease-in-out;
  background-color: #000000;
  &.open {
    left: 0;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  li {
    padding-top: 40px;
  }
  a {
    font-family: var(--base-font);
    font-size: 30px;
    font-weight: 900;
    line-height: 1.47;
    color: var(--white);
    &.active {
      color: #ff5454;
    }
  }
}

.logo {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  svg {
    height: inherit;
  }
}

.navigation-toggle {
  width: 24px;
  height: 21.5px;
  margin-left: 20px;
  svg {
    height: inherit;
  }
}

/***********************  Main  ***********************/
.content {
  margin-top: 60px;
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 508px;
  #slide1 {
    background: url(../assets/Slider/Walibi.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  #slide2 {
    background: url(../assets/Slider/Florensis.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  #slide3 {
    background: url(../assets/Slider/Oxxio.png) no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .slide {
      width: 100%;
      height: 100%;
    }
  }
  .client {
    font-size: 30px;
    z-index: 1;
    margin-bottom: 30px;
  }
  .buttons {
    display: flex;
    z-index: 1;
  }
  .btn-left, .btn-right, .btn-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 40px;
    background-color: #000000;
    transition: .1s;

    &:hover {
      background-color: #ff5454;
    }
  }
  .btn-left, .btn-right {
    width: 40px;
  }
  .btn-left {
    .arrow-left {
      width: 8px;
      height: 12.1px;
    }
  }
  .btn-right{
    .arrow-right {
      width: 8px;
      height: 12.1px;
    }
  }
  .btn-view {
    width: 150px;
    margin: 0 23.5px;
    .view-case {
      line-height: 1.4;
      color: var(--white);
    }
  }
  .btn-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--white);
    .scroll-icon {
      background-image: url(../assets/png/arrow-down-touch.png);
      width: 12.1px;
      height: 17px;
    }
  }
}

.we-are {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  .title {
    color: #2e2f31;
  }
}
.title {
  padding-bottom: 10px;
  line-height: 1.4;
}

.paragraph {
  line-height: 1.27;
  text-align: center;
  font-weight: 300;
}

.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/feed_bg.jpg) no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 60px 10px 100px 10px;
  .title {
    color: var(--bluish-grey);
  }
  .subtitle {
    color: var(--white);
    padding-bottom: 30px;
  }
  .feeds {
    display: flex;
    flex-direction: column;
  }
  .feed {
    margin-bottom: 20px;
  }
  .feed-image {
    height: 300px;
    width: 300px;
  }
  #feed-image-1 {
    background: url(../assets/feed/1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  #feed-image-2 {
    background: url(../assets/feed/2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  #feed-image-3 {
    background: url(../assets/feed/3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  #feed-image-4 {
    background: url(../assets/feed/4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  #feed-image-5 {
    background: url(../assets/feed/5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  #feed-image-6 {
    background: url(../assets/feed/6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .feed-text {
    background-color: var(--white);
    color: #76797f;
    padding: 15px;
    width: 300px;
  }
}

/***********************  Footer  ***********************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #000000;
  .link-social {
    .footer-svg {
      height: 20px;
    }
    &:first-child {
      margin-right: 40.2px;
    }
    &:nth-child(2) {
      margin-right: 40.3px;
    }
    &:hover {
      .footer-svg {
        g {
          fill: #ff5454;
        }
      }
    }
  }
}

/***********************  Contact  ***********************/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/feed_bg.jpg) no-repeat;
  background-position-x: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 160px;
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--white);
  }
  .error-message {
    max-height: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--white);
    margin: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .3s linear;
    span {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;

      &:first-of-type {
        margin-right: 20px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &.active {
      max-height: 60px;
      padding: 15px 20px;
      opacity: 1;
    }
  }
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 20px 10px;
  font-family: var(--base-font);
  .bg-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .2;
  }
  .field-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    &:nth-last-of-type(2) {
      margin-bottom: 20px;
    }
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
    input, .error, textarea {
      padding-left: 20px;
      z-index: 1;
    }
    input, textarea {
      width: 100%;
      font-size: 18px;
      color: var(--warm-grey);
      &:valid:not(.send) {
        color: #000000;
      }
    }
    input {
      height: 50px;
    }
    textarea {
      height: 150px;
      font-family: var(--base-font);
      font-size: 18px;
      padding-top: 10px;
    }
    .error {
      height: 0;
      position: relative;
      transition: .1s linear;
      background-color: var(--gunmetal);
      color: var(--white);
      line-height: 40px;
      &.active {
        height: 40px;
        &:after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 20px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #555 transparent;
        }
      }
    }
    .check-icon {
      position: absolute;
      width: 30px;
      z-index: 2;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .send {
    position: absolute;
    align-self: center;
    bottom: -70px;
    width: 150px;
    height: 40px;
    box-shadow: none;
    background-color: #ff5454;
    border: 0;
    border-radius: 40px;
    padding: 0;
    color: var(--white);
  }
}
/***********************  Media  ***********************/

@media all and(min-width: $tablet) {
  .header {
    position: static;
    height: 80px;
  }
  .navigation-main {
    align-items: center;
    justify-content: flex-start;
    position: static;
    opacity: 1;
    border-top: 0;
  }
  .menu-main {
    flex-direction: row;
    li {
      padding-left: 40px;
      padding-top: 0;
    }
    a {
      font-size: 18px;
      line-height: 1.39;
      color: var(--warm-grey);
      &.active {
        color: var(--white);
      }
    }
  }
  .logo {
    position: static;
    transform: translate(0);
    margin-left: 30px;
  }
  .navigation-toggle {
    display: none;
  }
  .content {
    margin-top: 0;
  }

  .slider {
    height: 700px;
    .client {
      font-size: 40px;
    }
  }
  .we-are {
    padding: 80px 0;
    .title {
      line-height: 1.33;
    }
    .paragraph {
      width: 620px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  .follow-us {
    .subtitle {
      padding-bottom: 40px;
    }
    .feeds {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -20px;
      .feed {
        padding-right: 20px;
        }
      }
  }
  .form {
    flex-flow: row wrap;
    justify-content: center;
    width: 620px;
    .field-wrapper {
      @for $i from 2 through 5 {
        &:nth-of-type(#{$i}) {
          flex: 1 50%;
        }
      }
      &:nth-of-type(6) {
        flex: 1 100%;
      }
    }
  }
  .contact {
    .title {
      font-size: 26px;
    }
  }
}

@media all and(min-width: $desktop) {
  .slider {
    .btn-scroll {
      width: 54px;
      height: 54px;
      .scroll-icon {
        background: url(../assets/png/mouse.png) no-repeat;
        width: 22px;
        height: 34px;
        transition: .1s;
        &:hover {
          background-image: url(../assets/png/mouse_2.png);
        }
      }
    }
  }
  .we-are {
    .paragraph {
      width: 940px;
      font-size: 24px;
      line-height: 1.38;
    }
  }
  .follow-us {
    overflow: hidden;
    .feeds {
      margin-right: -20px;
      .feed {
        padding-right: 20px;
      }
    }
  }
  .contact {
    .title {
      font-size: 36px;
    }
  }
}

@media all and(min-width: $desktop-hd) {
  .slider {
    .client {
      font-size: 50px;
    }
  }
  .we-are {
    padding: 100px 0;
  }
  .follow-us {
    padding: 100px 350px 190px 350px;
    .subtitle {
      padding-bottom: 50px;
    }
  }
}